extends layout

block content



  h1.center Edit Student 
  form(method="POST", action="/students/#{edit._id}/edit" text-align:center; input align="center")
    p
      input.w3-input.w3-border(type="text", placeholder="Student Number", name="student_number" value="#{edit.student_number}")
      br
    p
      input.w3-input.w3-border(type="text", placeholder="First Name", name="first_name" value="#{edit.first_name}")
    p
      input.w3-input.w3-border(type="text", placeholder="Last Name", name="last_name" value="#{edit.last_name}")
    p
      input.w3-input.w3-border(type="text", placeholder="Email", name="email" value="#{edit.email}")
    p
      input.w3-input.w3-border(type="text", placeholder="Contact Number", name="contact_number" value="#{edit.contact_number}")
    p
      input.w3-input.w3-border(type="text", placeholder="Birthdate", name="birthdate" value="#{edit.birthdate}")
    p
      input.w3-input.w3-border(type="text", placeholder="Section", name="section" value="#{edit.section}")
    
    button(href='/students' type="submit") Submit
    br
    button(href='/students') Cancel
  
