extends layout

block content

  h1 Edit Student 
  form(method="POST", action="/student/#{student_id}/edit" input align="center")
    p
      input(type="text", placeholder="Student Number", name="student_number" value="#{student_number}")
      br
    p
      input(type="text", placeholder="First Name", name="first_name" value="#{first_name}")
    p
      input(type="text", placeholder="Last Name", name="last_name" value="#{last_name}")
    p
      input(type="text", placeholder="Email", name="email" value="#{email}")
    p
      input(type="text", placeholder="Contact Number", name="contact_number" value="#{contact_number}")
    p
      input(type="text", placeholder="Birthdate", name="birthdate" value="#{birthdate}")
    p
      input(type="text", placeholder="Section", name="section" value="#{section}")
    
    button(type="submit") Submit
    br
    button(href='/students') Student lists
  
