.form-group
  label(for="student_number") Student Number
  input#fullname.form-control(name="Student Number", type="text", value=student.student_number)
.form-group
  label(for="first_name") First Name
  input#job.form-control(name="First Name", type="text", value=student.first_name)
.form-group
  label(for="last_name") Last Name
  input#nickname.form-control(name="Last Name", type="text", value=student.last_name)
.form-group
  label(for="email") Email
  input#email.form-control(name="email", type="email", value=student.email)
.form-group
  label(for="contact_number") Contact Number
  input#email.form-control(name="email", type="Number", value=student.contact_number)  	
.form-group
  label(for="birthdate") Birthdate
  input#email.form-control(name="Birthdate", type="Date", value=student.birthdate)
.form-group
  label(for="section") Section
  input#email.form-control(name="section", type="Number", value=student.section)
  	